/*=============== base styles ===============*/
/* overwrite img max-width set in bootstrap */
img {
	max-width: none;
}

form ul {
	margin: 0;
}

form li {
	list-style: none;
}

legend {
	border-bottom: 0;
}
table {
	margin: 20px 0;
}


/*=============== layout ===============*/
#header {
	padding-top: 50px;
	margin-bottom: 20px;
}

#debug {
	float: left;
}

#welcome {
	position: relative;
	margin-top: 20px;
}

#btn-start {
	position: absolute; bottom: 20px; left: 80px;
	z-index: 1100;
}

.wrapper {
	position: relative;
}


/*=============== layout classes ===============*/
.sidebar,
.search-results {
	position: absolute;
	z-index: 1100;
}

.search-results,
.sidebar-main {
	top: 40px;
	left: 80px;
}

.sidebar-second {
	top: 40px;
	right: 40px;
}


/*=============== modules classes ===============*/
.box,
.olPopup {
	width: 200px;
	padding: 20px;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.bikemap {
	background-color: #eee;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	height: 350px;
}

/* overwrite margin from openlayers */
div.olMap {
	margin: 20px 0 !important;
}

.bikemap-report-details,
.bikemap-report {
	width: 550px;
}

div.olMap.bikemap-add-hint {
   width: 400px;
	 height: 450px;
	 margin: 0 !important;
}

.bikemap-home,
.bikemap-hints,
.bikemap-searchresults,
.bikemap-exploration {
	height: 600px;
}

.bikemap-hints {
  width: 750px;
}

.logo {
	display: block;
	background-image: url(../img/logo.png);
	width: 145px; height: 93px;
}

.btn-facebook {
	display: block; position: relative; top: 8px;
	background: url(../img/fbConnect.png) no-repeat;
	width: 154px; height: 22px;
}

.bikeparts label {
	margin-right: 1.5em;
}

.bikeparts,
#summary .row-fluid {
	margin-bottom: 20px;
}

.btn-print {
	margin-right: 20px;
}

.stolen-bike {
	position: relative;
}

.stolen-image {
	position: absolute; top: 10px; right: -200px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 10000;
}

.report-details-images {
	margin-top: 20px;
}

.report-details-images a {
	display: block; float: left; margin: 0 20px 20px 0;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.table-report-details td:first-child {
	width: 45%;
}

#hint-form {
	width: 800px;
	padding: 20px;
	background: #fff;;
}


/*=============== open layers style ===============*/

.olPopupContent {
	overflow: hidden !important ;
}


/*=============== helpers ===============*/

.ir {
	border: 0;
	background-color: transparent;
	color: transparent; font: 0/0 a;
	text-shadow: none;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
