/*=============== base styles ===============*/
/* overwrite img max-width set in bootstrap */
img {
  max-width: none;
}

form ul {
	margin: 0;
}

form li {
	list-style: none;
}

legend {
  border-bottom: 0;
}


/*=============== layout ===============*/
#header {
	padding-top: 50px;
	margin-bottom: 20px;
}

#debug {
	float: left;
}

#welcome {
	position: relative;
	margin-top: 20px;
}

#btn-start {
	position: absolute; bottom: 20px; left: 80px;
	z-index: 1100;
}


/*=============== layout classes ===============*/
.sidebar {
	position: absolute;
	z-index: 1100;
}

.sidebar-main {
	top: 40px;
	left: 80px;
}

.sidebar-second {
	top: 40px;
	right: 40px;
}


/*=============== modules classes ===============*/
.box,
.olPopup {
	width: 200px;
	padding: 20px;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.bikemap {
	background-color: #eee;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.bikemap-report {
	height: 400px;
}

.bikemap-home {
	height: 500px;
}

.bikemap-exploration {
	height: 600px;
}

.logo {
	display: block;
	background-image: url(../img/logo.png);
	width: 145px; height: 93px;
}

.btn-facebook {
	display: block; position: relative; top: 8px;
	background-image: url(../img/fbConnect.png);
	width: 154px; height: 22px;
}

.btn-findme {
  margin-top: 20px;
}

.bikeparts label {
  margin-right: 1.5em;
}

.bikeparts,
#summary .row-fluid {
  margin-bottom: 20px;
}

.btn-print {
  margin-right: 20px;
}

/*=============== open layers style ===============*/

.olPopupContent {
  overflow: hidden !important ;
}


/*=============== helpers ===============*/

.ir {
	color: transparent;
	font: 0/0 a;
	background-repeat: no-repeat;
}

.hidden {
  display: none;
}


